<div>
  <h1 class="text-center m-5">Contact Us</h1>
  <hr style="border: none; height: 2px; background-color: rgb(44, 61, 1);">
  <div class="container m-5">
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
        <label for="email" class="form-label">Your Email</label>
        <input type="text" class="form-control" id="email" placeholder="Enter your email" required>
        <label for="message" class="form-label">Your Message</label>
        <input type="text" class="form-control" id="message" placeholder="Enter your message" required>
        <input type="submit" value="Submit" class="btn btn-info mt-3">
</div>
